/* CSS CODE  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}

.nav-line {
    height: 10px;
    background-color: orange;
}

.nav-details {
    display: flex;
    justify-content: space-evenly;
}

.icon{
    padding: 5px;
    border-radius: 8px;
    background-color: orange;
}

.nav-bar {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.nav-bar img {
    height: 100px;
    width: 150px;
}

.nav-content {
    display: flex;
    gap: 15%;
}

.nav-content a {
    text-decoration: none;
    text-transform: uppercase;
}

.border {
    padding: 10px;
}

.border:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
}

button {
    padding: 10px 25px;
    background-color: orange;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: black;
    color: white;
}

.banner-section {
    margin-top: 15px;
    margin-bottom: 10%;
    width: 100%;
    float: left;
    background-image: url(https://html.design/demo/givelife/images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding-top: 40%;
    background-repeat: no-repeat;
}

.banner-title {
    color: white;
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.banner-title h1 {
    font-size: 3vw;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner-title p {
    margin-top: 1%;
}

.btn {
    position: absolute;
    bottom: 20%;
    left: 15%;
}

.about-img{
    height: 250px;
    width: 300px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: -0.1px;
}

.about-details h1 {
    font-size: 3rem;
}

.about-details span {
    color: orange;
}

.about-details p {
    font-size: 1.1rem;
}

.banner-mission {
    margin-top: 10rem;
    height: 40rem;
    background-color: orange;
}

.banner-mission h1 {
    margin-left: 8rem;
    margin-bottom: 2rem;
}

.mission-heading span {
    color: white;
}

.mission-main {
    display: flex;
    justify-content: space-evenly;
}

.mission-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mission-left img{
    height: 100px;
    width: 100%;
}

.img1 {
    padding: 20px 50px;
    background-color: black;
    border-radius: 5px;
}
.img2 {
    padding: 20px 50px;
    background-color: black;
    border-radius: 5px;
}
.img3 {
    padding: 20px 50px;
    background-color: black;
    border-radius: 5px;
}

.img1:hover {
    background-color: rgb(245, 241, 242);
    color: skyblue;
    transition: ease all 0.5s;
}

.img2:hover {
    background-color: rgb(245, 244, 244);
    color: skyblue;
    transition: ease all 0.5s;
}

.img3:hover {
    background-color: rgb(251, 248, 249);
    color: skyblue;
    transition: ease all 0.5s;
}

.mission-mid h2 {
    margin-top: 6%;
}

.mission-mid p {
    color: white;
}

.mission-right img {
    position: relative;
    bottom: 11%;
}

.details {
    margin-top: 5%;
    background-color: rgb(199, 249, 186);
} 

.details h1 {
    font-size: 3rem;
}

.details span {
    color: orange;
}

.details p {
    font-size: 1.2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30%;
}

.mailtext {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
    padding: 14px 50px;
    margin-top: 20px;
    border: 0px;
    box-shadow: 0px 2px 31px 10px #f0f0ef;
}

.msg-btn {
    color: #ffffff;
    width: 77%;
    height: 130px;
    font-size: 18px;
    background-color: transparent;
    padding: 40px 15px 0px 15px;
    margin-top: 20px;
    border: 0px;
    box-shadow: 0px 2px 31px 10px #f0f0ef;
}



.part1 {
    background-color: #0b0c0d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
    color: orange;
    font-size: 25px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: white;
}



.part2 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.page {
font-size: 0.7rem;
}

.copyright {
    padding-top: 5px;
}